/* 
TODO:
setar css para diferentes resoluções
*/

body {
	background-image: url("../img/bg_login.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
}

#container {
	width: 100%;
	height: 100%;
	position: absolute;
}

.form-box {
	background: url(../img/transparent.png);
	color: #FFFFFF;
	border: 1px solid black;
	height: auto;
	width: 20%;
	float: right;
	position: relative;
}

.form-login {
	top: 25%;
	right: 18%;
	text-align: center;
}

.form-newusr {
	top: 25%;
	right: 40%;
	text-align: center;
}

#div_games {
	display: none;
}

#block_dashform {
	top: 25%;
	right: 40%;
	background: url(../img/transparent.png);
	color: #FFFFFF;
	border: 1px solid black;
	height: auto;
	width: 20%;
	float: right;
	position: relative;
	text-align: center;
}

#block_player {
	background: url(../img/transparent.png);
	color: #FFFFFF;
	border: 1px solid black;
	height: auto;
	width: 20%;
	float: right;
	position: relative;
	text-align: center;
}

#block_game {
	background: url(../img/transparent.png);
	color: #FFFFFF;
	border: 1px solid black;
	height: auto;
	width: 20%;
	float: right;
	position: relative;
	text-align: center;
}

.form-header {
	width: 100%;
	height: 30%;
	size: cover;
	margin-bottom: 2%;
	border-bottom: 1px solid black;
}

.form-label {
	float: left;
	margin-left: 12%;
	font-family: 'Orbitron';
	font-size: 12px;
}

.form-field {
	width: 75%;
	height: 20px;
	margin-top: 1%;
	margin-bottom: 5%;
	padding-left: 5px;
	border: 1px solid gray;
    border-radius: 5px;
	font-size: 12px;
	font-family: 'Orbitron';
}

.field-mail {
	/*
	background-image: url(../img/mail.jpg);
	background-repeat: no-repeat;
	background-position: 4px 3px;
	background-size: 16px 16px;
	padding-left: 25px;
	*/
}

.field-user {
	/*
	background-image: url(../img/user.png);
	background-repeat: no-repeat; 
	background-position: 4px 3px;
	background-size: 16px 16px;
	padding-left: 25px;
	*/
}

.field-pswd {
	font-family: 'Helvetica';
	/*
	background-image: url(../img/pass.png);
	background-repeat: no-repeat;
	background-position: 4px 3px;
	background-size: 16px 16px;
	padding-left: 25px;
	*/
}

.button {
	width: 25%;
	margin-top: 2%;
	margin-bottom: 5%;
	border: none;
    border-radius: 5px;
	box-shadow: 0 3px #666666;
	font-family: 'Orbitron';
	font-size: 12px;
}

.button-modular {
	width: auto;
}

.button:active {
	box-shadow: 0 1px #666666;
	transform: translateY(2px);
}

.button:hover {
    background-color: #305599;
    color: white;
}

.button:focus {
	outline: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* The checkbox container */
.cb_container {
    display: block;
    position: relative;
    padding-left: 5px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cb_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.cb_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cb_container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Show the checkmark when checked */
.cb_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cb_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}